# Don't track content of these folders
recruiters.xlsx
~$recruiters.xlsx
unistudents.csv
resultfortune100.xlsx
resultfortune100.json
result2.xlsx
result.json
result.csv
credentials.json
~$resultfortune100.xlsx
amazonrecruiters.xlsx
googleunirecruiters.xlsx
Recruiters/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip